
.cursor-pointer{
  cursor: pointer;
}

.input-geo .spinner-grow{
	display: none;
}

.input-geo.loading .spinner-grow{
	display: block;
}

.input-geo.loading .bi{
	display: none;
}

.whs-nowrap{
	white-space: nowrap;
}

div#map {height: 300px;}

[disabled] span.spinner-border {display: inline-block !important;}

.min-vh-lg-100 {height: 100vh;}

.hw-map-results-wrap .col-md-6 {width: 100%;}