.input-geo .spinner-grow{
	display: none;
}

.input-geo.loading .spinner-grow{
	display: block;
}

.input-geo.loading .bi{
	display: none;
}

.whs-nowrap{
	white-space: nowrap;
}

div#map {height: 300px;}